.footer{
    height:292px;
    background:#FAFAFA;
}
.foot{
    margin-top: 84px;
    padding-top: 50px;
    width:1263px;
    height:292px;
    margin:0 auto;
    color:#333;
    padding-left:16px;
}
.foot .left{
    width:900px;
    height:162px;
    float:left;
}

.foot ul{
    width:910px;
    height:20px;
    font-size:15px;
}
.foot ul li{
    float:left;
    margin-right: 2%
}
.foot ul li a{
    color:#535353;
}
.foot ul li a:hover{
    color:red;
}
.foot .right{
    float:right;
}
.foot .tags{
    width:600px;
    height:130px;
    margin-top: 12px
}
.tags img{
    margin-right: 21px;
    margin-top: 15px;
}
.foot p{
    font-size: 15px;
    color: #666;
    text-align: center;
    clear: both;
    padding: 30px 0 0 0;
}
.foot .recordcode{
    text-align: center;
}
.foot .recordcode a{
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    color: #939393;
}
.foot .recordcode img{
    vertical-align: middle;
    width: 16px;
    margin-right: 5px;
}

