.container{
    height:172px;
    min-width: 1024px;
}
.con{
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 1221px;
}
.con .header-wrap{
   overflow: hidden;
    padding-top: 69px;
}
.header-wrap .head-logo{
    float:left;
    margin-left:12px;
}
.header-wrap .head-logo img{
     width: 194px;
    height: 71px;

}
.server-bar {
    position: fixed;
    z-index: 99;
    top: 190px;
    right: -122px;
    width: 122px;
    height: 260px;
    background-color: #ff5387;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.server-bar .open {
    position: absolute;
    left: -22px;
    top: 33px;
    width: 14px;
    padding: 10px 4px;
    background-color: #FF5387;
    color: #fff;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.server-bar a {
    display: block;
}

.server-bar .qrcode {
    padding: 10px;
    padding-bottom: 0;
    box-sizing: border-box;
}
.qrcode img{
    width:102px;
    height:102px;
}
.server-bar p {
    margin-top: 5px;
}

.server-bar a img {
    margin: 8px;
    margin-bottom: 0;
}
.server-bar .backTop {
    position: absolute;
    bottom: -44px;
    left: 15px;
}
.server-bar {
    position: fixed;
    z-index: 99;
    top: 190px;
    right: -122px;
    width: 122px;
    height: 260px;
    background-color: #ff5387;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.server-bar .open {
    position: absolute;
    left: -22px;
    top: 33px;
    width: 14px;
    padding: 10px 4px;
    background-color: #FF5387;
    color: #fff;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.server-bar a {
    display: block;
}

.server-bar .qrcode {
    padding: 10px;
    padding-bottom: 0;
    box-sizing: border-box;
}
.qrcode img{
    width:102px;
    height:102px;
}
.server-bar p {
    margin-top: 5px;
}

.server-bar a img {
    margin: 8px;
    margin-bottom: 0;
}
.server-bar .backTop {
    position: absolute;
    bottom: -44px;
    left: 15px;
}
.nav-menu{
    float: left;
    padding-top: 18px;
    padding-left: 28px;
    font-size: 16px;
    line-height: 26px;
}
.nav-menu ul{
    overflow: hidden;
    border-bottom: 1px solid #E9E9E9;
    padding-right: 28px;
}
.nav-menu ul li{
   float:left;
   color:#666;
   line-height:39px;
   margin-left:20px;
}
.nav-menu ul li a{
    color: #999;
    text-decoration: none;
}
.nav-menu ul li a:hover{
text-decoration:none;color:#E60041;
}
.search-wrap{
    overflow: hidden;
    width: 271px;
    float:left;
    padding-top:14px;
    padding-left:5px;
}
.search-wrap input{
    width: 190px;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #eaeaea;
}
#searchbtn{
    float: right;
    width: 46px;
    height: 48px;
    border: 1px solid #eaeaea;
    border-left: none;
}
#searchbtn img{
    margin:13px;
}
.m-body {
    width: 1240px;
    margin: 0 auto;
}
.main-cont {
    margin: 20px 0px 50px 0px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-size: 14px;
    color: #969696;
}
.category-cont span a {
    color: #ff498c;
    float: left;
    text-decoration: none;
}
.breadcrumb {
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 1.5em;
}
.breadcrumb li {
    float: left;
    list-style: none;
}
.breadcrumb li a {
    color: #969696;
    text-decoration: none;
    font-size:14px;
}
.category-cont {
    overflow: hidden;
    padding: 18px 0px;
    border-top: 1px solid #e2e2e2;
}
.category-cont-main li {
    float: left;
    color: #535353;
    padding: 0px 22px;
    cursor: pointer;
}
.category-cont-main li a {
    color: #535353;
    text-decoration: none;
}
.category-cont-main li+li {
    border-left: 1px solid #e2e2e2;
}
#goods_list .category-cont {
    border-top: none;
    background-color: #f8f8f8;
    padding: 14px 0px;
}
.show-goods-list {
    margin-top: 30px;
}
.grid_2{
    width:1250px;
    margin:auto;
}
.grid_2 li{
    float:left;
}
.grid_2 li {
    color: #969696;
}
